/* Font */
$muli: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
$merriweather: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
$size-regular: 400;
$size-bold: 700;
$size-black: 900;

/* Color */
$pure-white: #fff;
$white-2: #f9f9fa;
$white-1: #f4f5f6;
$black-1: #1d1e20;
$black-2: #3d3f42;
$gray-1: #4f5760;
$primary-color: #e5204d;

/* Border Radius */
$radius-1: 18px;
$radius-2: 32px;

$main-background-color: #f4f5f6;
//$main-background-color: #f8f8fa;
